<% if @account.language == 'pl' %>
<div class="panel-heading"><h1> Dziękujemy za skorzystanie z naszego serwisu :)</h1></div>
<div class="panel-body">
  <p> Pozdrawiam</p>
</div>

<% else %>

<div class="panel-heading"><h1> Thanks for application :)</h1></div>
<div class="panel-body">
  <p>Regards</p>
</div>


<% end %>
