<div class="panel-heading"><h1>Na panelu pojawiło się nowe zamówienie od <%= @account.email %></h1></div>
<div class="panel-body"><p> link: http://skupkont.herokuapp.com/accounts/<%=@account.token %></p></div>
