<% if @account.language == 'pl' %>
<div class="panel-heading"><h1> Wynagrodzenie za dostęp do konta zostało przesłane</h1></div>
<div class="panel-body">
  <p> Pozdrawiam</p>
</div>

<% else %>

<div class="panel-heading"><h1> Salary sent </h1></div>
<div class="panel-body">
  <p>Regards</p>
</div>


<% end %>
