<div class="row">
  <div class="col-md-3"> email: </div>
  <div class="col-md-3"> Liczba kupionych kont </div>
  <div class="col-md-3"> Kupione konta w tym miesiącu </div>
  <div class="col-md-3"> Nie zapłacone: <strong> <%= @counter %> </strong> </div>
</div>
<hr>
<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-3"> <strong> <%= user.email %> </strong></div>
    <div class="col-md-3"> <strong> <%= user.accounts_count %> </strong></div>
    <div class="col-md-3"> <strong> <%= user.accounts_count_in_month %> </strong></div>
    <div class="col-md-3"></div>
  </div>
  <hr>
<% end %>
