/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$opacity: 0.7;

@media (max-width: 992px){

  .col-md-1 > i{
   display: none;
  }

}

.form-control{
  width: 400px;
}

.panel-heading {
    padding: 1px 0px 0px 15px !important;
}
.panel-success > .panel-heading {
  background-color: rgba(223,255, 216, $opacity) !important;
}

.panel-primary > .panel-heading {
  background-color: rgba(51,122, 183, $opacity) !important;
}

.panel-warning > .panel-heading {
  background-color: rgba(252,248, 227, $opacity) !important;

}

.panel-danger > .panel-heading {
  background-color: rgba(242,222, 222, $opacity) !important;
}
.panel{
  background-color: rgba(255,255, 255, 0.3) !important;

}
.panel-body{
  background-color: rgba(255,255, 255, 0.3) !important;
}

body{
  background-image: url('https://weu1-api.asm.skype.com/v1/objects/0-weu-d1-95465e54d8d24712b47564b746e3c23f/views/imgpsh_fullsize');
  background-attachment:fixed;

}
*{
  color: white;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #000;
}
