/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';

*{
  font-family: 'Rajdhani', sans-serif ;
}

.small-letters{
  font-size: 11px !important;
}
$opacity: 0.7;


.navbar-inverse .navbar-left > li:first-child > a{
  color: #FDCC00 !important;
}

.btn-success{
  color: black;
  border: 1px solid #FDCC00;
  background-color: #FDCC00 !important;
}
.btn-success:hover{
  color: black;
  background-color: #ECBB00 !important;
}

.socer{
  display: none;
}

@media ( min-width: 981px){
  .socer{
    display: block;
  }
  .navbar-left{
    margin-left: 3%;
  }
  .navbar-right{
    margin-right: 8%;
  }
}


@media (min-width:768px) {

  #logo{
      position: absolute;
      left: 50%;
      margin-left: -150px !important;  /* 50% of your logo width */
      display: block;
  }

/* centered navigation */
 .navbar{
   height: 80px !important;
 }
 .navbar-nav{
   margin-top: 43px;
 }
 .nav.navbar-nav > li > a {
     font-size: 18px;
 }
 .navbar-nav > li {
    text-align: left;
    background-color: rgba(40,40,40,0.5);
    border-radius: 100px;
    margin-left: 3px;
    margin-right: 3px;
 }
}

.navbar{
  min-height: 149px;
  margin-bottom: 70px;
}
.navbar-inverse{
  background-image: url('/assets/images/belka2.png');

}

@media (max-width: 992px){

  .col-md-1 > i{
   display: none;
  }

}

.form-control{
  width: 400px;
}

.panel-heading {
    padding: 1px 0px 0px 15px !important;
    border-bottom: 0px;
    padding-bottom: 8px !important;
}
.panel-success > .panel-heading {
  background-image: url('/assets/images/belka.png');
  color: black !important;
}

.panel-primary > .panel-heading {
  color: black !important;
  // background-color: rgba(51,122, 183, $opacity) !important;
  background-color: rgba(153,204, 119, 1) !important;
}

.panel-warning > .panel-heading {
  color: black !important;
  background-color: #6699cc !important;

}

.panel-danger > .panel-heading {
  background-color: rgba(242,100, 100, $opacity);
  h2{
    color: black;
  }
}
.panel{
  background-color: rgba(255,255, 255, 0.5);

}
.panel-body{
  background-color: rgba(255,255, 255, 0.3);
}
.none {
  background-color: rgba(255,255,255,0) !important;
}



body{
  background-image: url('/assets/images/background.png');
  background-attachment:fixed;


}
*{
  color: white;
}
p{
  font-size: 14px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #000;
}
