/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

*{
  font-family: 'Rajdhani', sans-serif ;
}

$opacity: 0.7;


@media (min-width:768px) {
/* centered navigation */
 .nav.navbar-nav {
     float: left;
 }
 .nav.navbar-nav {
     clear: left;
     float: left;
     margin: 0;
     margin-top: 20px;
     padding: 0;
     position: relative;
     left: 50%;
     text-align: center;
 }
 .nav.navbar-nav > li {
     position: relative;
     right: 50%;

 }
 .nav.navbar-nav li {
    text-align: left;
    background-color: rgba(40,40,40,0.5);
    border-radius: 100px;
    margin-left: 3px;
    margin-right: 3px;
 }
}

.navbar{
  height: 80px;
  margin-bottom: 120px;
}
.navbar-inverse{
  background-image: url('/assets/images/belka2.png');

}

@media (max-width: 992px){

  .col-md-1 > i{
   display: none;
  }

}

.form-control{
  width: 400px;
}

.panel-heading {
    padding: 1px 0px 0px 15px !important;
    border-bottom: 0px;
    padding-bottom: 8px !important;
}
.panel-success > .panel-heading {
  background-image: url('/assets/images/belka.png');
  color: black !important;
}

.panel-primary > .panel-heading {
  background-color: rgba(51,122, 183, $opacity) !important;
}

.panel-warning > .panel-heading {
  background-color: rgba(252,248, 227, $opacity) !important;

}

.panel-danger > .panel-heading {
  background-color: rgba(242,222, 222, $opacity) !important;
}
.panel{
  background-color: rgba(255,255, 255, 0.3) !important;

}
.panel-body{
  background-color: rgba(255,255, 255, 0.3) !important;
}

body{
  background-image: url('/assets/images/background.png');
  background-attachment:fixed;

}
*{
  color: white;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #000;
}
