<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div class="panel panel-primary">
    <%= yield %>
    </div>
  </body>
</html>
