<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=1022419157847962";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>



<div class="panel panel-success">
  <div class="panel-heading"><h1> Kontakt </h1></div>
  <div class="panel-body">
    <div id='SkypeButton_Call_live:futkonta_1'>
     <script type="text/javascript">
     Skype.ui({
     "name": "chat",
     "element": "SkypeButton_Call_live:futkonta_1",
     "participants": ["live:futkonta"],
     "imageSize": 32
     });
     </script>
    </div>
    <div class="fb-like" data-href="https://www.facebook.com/FUTaccounts" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>




  </div>
</div>
